	
	<br>
	<table class="hoverable">
		<tr>
			<th style='width:15%;'>
				<a href="/console/participant" class="waves-effect waves-light btn">Back</a>
			</th>
			<th>
			</th>
		</tr>
		<tr>
			<td>
				姓名
			</td>
			<td>
				{{participant.name}}
			</td>
		</tr>
		<tr>
			<td>
				性別
			</td>
			<td>
				{{participant.gender}}
			</td>
		</tr>
		<tr>
			<td>
				出生日期
			</td>
			<td>
				{{participant.birthdate}}
			</td>			
		</tr>
		<tr>
			<td>
				身份證字號
			</td>
			<td>
				{{participant.identification}}
			</td>
		</tr>
		<tr>
			<td>
				就讀學校
			</td>
			<td>
				{{participant.school}}
			</td>
		</tr>
		<tr>
			<td>
				營服尺寸
			</td>
			<td>
				{{participant.tshirt}}
			</td>
		</tr>
		<tr>
			<td>
				電話
			</td>
			<td>
				{{participant.phone}}
			</td>
		</tr>
		<tr>
			<td>
				電子郵件
			</td>
			<td>
				{{participant.email}}
			</td>
		</tr>
		<tr>
			<td>
				緊急聯絡人
			</td>
			<td>
				{{participant.emergency_contact}}
			</td>
		</tr>
		<tr>
			<td>
				緊急聯絡人電話
			</td>
			<td>
				{{participant.emergency_contact_phone}}
			</td>
		</tr>
		<tr>
			<td>
				特殊飲食習慣
			</td>
			<td>
				{{participant.meal}}
			</td>
		</tr>
		<tr>
			<td>
				備註
			</td>
			<td>
				{{participant.prefix | safe}}
			</td>
		</tr>
		<tr>
			<td>
				FB ID
			</td>
			<td>
				{{participant.fb_id}}
			</td>
		</tr>
		<tr>
			<td>
				FB 帳號
			</td>
			<td>
				{{participant.fb_name}}
			</td>
		</tr>
		<tr>
			<td>
				FB URL
			</td>
			<td>
				<a href='{{participant.fb_url}}'>Facebook</a>
			</td>
		</tr>
		<tr>
			<td>
				報名時間
			</td>
			<td>
				{{participant.post_created}}
			</td>
		</tr>
		<tr>
			<td>
				最後修改
			</td>
			<td>
				{{participant.last_modified}}
			</td>
		</tr>

	</table>
