{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<h1 class="center brown-text">聯絡我們</h1>
		</div>
	</div>
  <div class="row">
  	<div class="col s12">
    	<div class="row">
        <div class="col s12 m3">
          <div class="card brown">
            <div class="card-content white-text">
              <span class="card-title">王冠人</span>
              <p>建中資訊社28th‧社長<br>手機：0978-237-896
            </div>
            <div class="card-action center">
              <!--<a target="_blank" class="white-text" href="https://www.facebook.com/profile.php?id=100001321801483&fref=ts">Facebook</a>-->
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card brown">
            <div class="card-content white-text">
              <span class="card-title">韋尚甫</span>
              <p>建中資訊社28th‧外交長<br>手機：0921-702-925
            </div>
            <div class="card-action center">
              <!--<a target="_blank" class="white-text" href="https://www.facebook.com/profile.php?id=100003927309536&fref=ts">Facebook</a>-->
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card brown">
            <div class="card-content white-text">
              <span class="card-title">涂智乙</span>
              <p>中山資研社22nd‧社長<br>手機：0988-712-203
            </div>
            <div class="card-action center">
              <!--<a target="_blank" class="white-text" href="https://www.facebook.com/qing.nan.9">Facebook</a>--> 
            </div>
         </div>
        </div>
        <div class="col s12 m3">
          <div class="card brown">
            <div class="card-content white-text">
              <span class="card-title">李佩璇</span>
              <p>中山資研社22nd‧公關<br>手機：0910-882-528
            </div>
            <div class="card-action center">
              <!--<a target="_blank" class="white-text" href="https://www.facebook.com/profile.php?id=100000369451960&fref=ts">Facebook</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
