{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class"row">
    <div class="col s12 m4">
      <h1 class="center brown-text">課程內容</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/cpp.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">C/C++程式設計<i class="mdi-navigation-more-vert right"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">C/C++程式設計<i class="mdi-navigation-close right brown-text"></i></span>
            <ul class="subject-content">
                <li>課程簡介</li>
                教導 C++的入門實作,由認識程式,學習基本架構開始,讓同學們能學會 C++的基本運作。帶領同學們進入C++寫程式的世界。
              <li>課程目標</li>
              希望透過基礎 C++教學,可以先學會簡單運用了解C++這個程式語言
            </ul>
          </div>
        </div>
    </div>
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/app.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">APP程式設計<i class="mdi-navigation-more-vert right brown-text"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">APP程式設計<i class="mdi-navigation-close right"></i></span>
            <ul class="subject-content">
                <li>課程簡介</li>
                教導app inventor的基本操作,讓同學們製作一個自己的app
              <li>課程目標</li>
              讓同學可以利用app inventor教學增加對app inventor的興趣,並且增加同學們的創造力
            </ul>
          </div>
        </div>
    </div>
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/html.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">HTML/CSS<i class="mdi-navigation-more-vert right brown-text"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">HTML/CSS<i class="mdi-navigation-close right"></i></span>
            <ul class="subject-content">
                <li>課程簡介</li>
                打開瀏覽器時看到的網頁,不但有圖片、文字、還可以顯示動畫、聲音...等多媒體效果。這些物件能正確地 顯示在瀏覽器中,都是 HTML 和 CSS 的功勞。
              <li>課程目標</li>
              發揮自己的創意寫出網頁
            </ul>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/gae.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">Python/GAE<i class="mdi-navigation-more-vert right brown-text"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">Python/GAE<i class="mdi-navigation-close right"></i></span>
            <ul class="subject-content">
                <li>課程簡介</li>
                這堂課將會介紹伺服器的基礎原理、如何撰寫Python、如何使用Google App Engine 出網頁,並使世界各地的人瀏覽。
              <li>課程目標</li>
              架出可供世界各地的人瀏覽的網站
            </ul>
          </div>
        </div>
    </div>
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/rpg.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">RPG Maker<i class="mdi-navigation-more-vert right brown-text"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">RPG Maker<i class="mdi-navigation-close right"></i></span>
            <ul class="subject-content">
                <li>課程簡介</li>
                RPG Maker為一個可藉由簡單操作開發遊戲的軟體,使用它的人不用學習任何程式語言,只要在相對的位置輸入文字或設定數值,就可以製作出完美的遊戲!
              <li>課程目標</li>
              透過課程學會遊戲製作的技巧,做出專屬於自己的遊戲!
            </ul>
          </div>
        </div>
    </div>
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/ps.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">Photoshop<i class="mdi-navigation-more-vert right brown-text"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">Photoshop<i class="mdi-navigation-close right"></i></span>
            <ul class="subject-content">
                <li>課程簡介</li>
                Photoshop是Adobe System開發的強大軟體,主要功能是修圖,也可以用來電繪,有些版本甚至還能用來製作動畫。有多種圖層疊加效果,可以簡單地做出特效。
              <li>課程目標</li>
              透過教學使學生認識Photoshop,進而產生興趣,並能簡單使用此程式。
            </ul>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/unity.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">Unity 3d 遊戲製作<i class="mdi-navigation-more-vert right brown-text"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">Unity 3d 遊戲製作<i class="mdi-navigation-close right"></i></span>
            <ul class="subject-content">
                <li>課程簡介</li>
                Unity是一套跨平台的免費遊戲引擎,可開發線上遊戲,玩家只需在瀏覽器安裝外掛程式後即可執行 Unity開發的遊戲。
              <li>課程目標</li>
              在這門課程中,可以學到Unity的基本操作,更加熟悉它的介面,並了解地形編輯器,skybox,光源編輯,粒子系統等製作遊戲會用到的基礎工具。
            </ul>
          </div>
        </div>
    </div>
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/ai.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">AI/SAI<i class="mdi-navigation-more-vert right brown-text"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">AI/SAI<i class="mdi-navigation-close right"></i></span>
            <ul class="subject-content">
                <li>課程簡介</li>
                Adobe illustrator,簡稱AI,是一個能夠畫出許多圖的軟體,也是許多設計師愛用的軟體,我們將會介紹 AI 的許多功能以及工具的使用方法,只要有方法,技巧不好也能輕鬆畫出好插圖!
                <br>
                SAI
                SAI給眾多數字插畫家以及CG愛好者提供了一個輕鬆創作的平台。SAI極具人性化，其追求的是與數碼繪圖板極好的相互兼容性、繪圖的美感、簡便的操作以及為用戶提供一個輕鬆繪圖的平台。
              <li>課程目標</li>
              使用設計/畫出自己的插圖。
            </ul>
          </div>
        </div>
    </div>
    <div class="col s12 m4 ">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/image/content/jquery.png">
          </div>
          <div class="card-content">
            <span class="card-title activator brown-text">jQuery<i class="mdi-navigation-more-vert right brown-text"></i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title brown-text">jQuery<i class="mdi-navigation-close right"></i></span>
            <ul class="subject-content">
              <li>課程簡介</li>
              jQuery是全世界最受歡迎的JavaScript函式庫，利用它簡化程式程式碼的設計，教學快速製作動態的網頁
              <li>課程目標</li>
              讓同學能利用jQuery做出具動態設計的網頁
            </ul>
          </div>
        </div>
    </div>

    <div class="col s12">
      <ul class="collection brown-text">
        <a href="/subject" class="collection-item brown-text">Example</a>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
