{% extends "base.html" %}

{% block content %}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br><br>
      <!-- <h1 class="center brown-text" style="padding-top: 60px;padding-bottom: 40px;font-size: 435%;">楓琴建譜</h1> -->
      <div class="center title_img_div">
        <img class="center title_img" src="/image/title.png" alt="楓琴建譜">
      </div>
      <div class="row center">
        <h5 class="center brown-text" style="font-size: 175%;margin-bottom:50px">
          你想在15歲的夏天能衝破極限？<br><br>
          你想在15歲的夏天能活得比誰都還要精彩？<br><br>快點加入我們，實現你15歲的夢，一起享受這最瘋狂的七月吧！</h5>
      </div>
      <br><br>
      <div class="row center">
        <a href="/note" id="download-button" class="btn-large waves-effect waves-light-3 brown" style="font-size:125%;z-index:2">馬上報名</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img class="responsive-img" class="filterimg" src="/image/background/background1.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section" style="font-size:120%">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">知識</h5>

          <p class="light">本次的暑訓將以資訊為主軸，市面上最流行的APP、精緻的電子繪圖以及專業的遊戲製作，都將是我們的教學內容！
          </p>
        </div>
      </div>

      <div class="col s12 m4" >
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-action-question-answer"></i></h2>
          <h5 class="center">交流</h5>

          <p class="light">學習不必是自己埋首苦練，暑訓中學員將一起討論、共同成長，同時在這個過程中，認識新朋友並得到堅固的友誼。</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="mdi-maps-place"></i></h2>
          <h5 class="center">活動</h5>

          <p class="light">暑假想要擁有一些娛樂？我們的暑訓會帶給你有趣的遊戲，還有精彩無比的神秘活動，等待你的盡情參與~~~</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="parallax-container valign-wrapper"  style="margin-bottom: 30px;">
  <div class="section no-pad-bot container">
    <h4 class="brown-text" style="font-size: 160%;font-weight:600">活動目的：讓升高一的同學們提早接觸資訊相關知識，也歡迎有興趣的國一、國二生報名</h4>
    <h4 class="brown-text" style="font-size: 160%;font-weight:600">活動日期：2015年7月11日(六) 至 7月17日(五)，共七天</h4>
    <h4 class="brown-text" style="font-size: 160%;font-weight:600">活動時間：早上八點 至 下午五點 (7/17 至 晚上九點半)</h4>
    <h4 class="brown-text" style="font-size: 160%;font-weight:600">活動地點：市立建國中學 與 市立中山女中</h4>
  </div>
  <div class="parallax"><img class="responsive-img" src="/image/background/background2.jpg" alt="Unsplashed background img 2" style="opacity:0.3"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3 class="center brown-text"><i class="mdi-social-school"></i></h3>
        <h4>豐富的活動內容</h4>
        <p class="center light" style="font-size:125%">
          每天都有我們精心安排的課程與活動，<br>
          讓你的變得充實、變得有趣、變得精彩無比！
        </p>
      </div>
    </div>
  </div>
  <table class="brown white-text responsive-table"style="font-size:110%">
    <thead>
      <tr>
          <th data-field="name">日期</th>
          <th data-field="name">7/11(六)</th>
          <th data-field="name">7/12(日)</th>
          <th data-field="name">7/13(一)</th>
          <th data-field="name">7/14(二)</th>
          <th data-field="name">7/15(三)</th>
          <th data-field="name">7/16(四)</th>
          <th data-field="name">7/17(五)</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>8:00~9:00</td>
        <td>破冰時間</td>
        <td>晨間早操</td>
        <td>晨間早操</td>
        <td>晨間早操</td>
        <td>晨間早操</td>
        <td>晨間早操</td>
        <td>晨間早操</td>
      </tr>
      <tr>
        <td>09:00~12:00</td>
        <td>大地遊戲</td>
        <td>程式語言C++</td>
        <td>HTML/CSS</td>
        <td>Photoshop</td>
        <td>網站後台GAE</td>
        <td>RPG Maker</td>
        <td>成果發表</td>
      </tr>
      <tr>
        <td>12:00~14:00</td>
        <td>午餐時間</td>
        <td>午餐時間</td>
        <td>午餐時間</td>
        <td>午餐時間</td>
        <td>午餐時間</td>
        <td>午餐時間</td>
        <td>午餐時間</td>
      </tr>
      <tr>
        <td>14:00~17:00</td>
        <td>美宣軟體SAI/AI</td>
        <td>手機APP</td>
        <td>大地遊戲</td>
        <td>遊戲製作Unity</td>
        <td>真人RPG</td>
        <td>JS/jQuery</td>
        <td>神秘活動(~21:00)</td>
      </tr>
    </tbody>
  </table>
</div>
<br><br><br>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3 class="center brown-text"><i class="mdi-action-assignment-turned-in"></i></h3>
        <h4>加入我們</h4>
        <p class="center light" style="font-size:125%">
          抓住這次機會，一起參加每個國中生都不能錯過的「楓琴建譜」建楓暑訓。<br>讓你的暑假充滿歡樂的時光與難忘的回憶吧！
        </p>
        <br>
        <a href="/note" id="download-button" class="btn-large waves-effect waves-light-3 brown" style="font-size:125%;opacity:1;">馬上報名</a>
      </div>
    </div>
  </div>
</div>
<br><br>

<script>
  var options = [
    {selector: '#staggered-test', offset: 1200, callback: 'Materialize.showStaggeredList("#staggered-test")' },
  ];
  Materialize.scrollFire(options);
</script>
{% endblock %}
