{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row s12">
		<h1 class="center brown-text">最新消息</h1>
	</div>
  <div class="row flow-text">
    <ul class="collapsible popout" data-collapsible="accordion">

<!--     template (?
     	  <li>
          <div class="collapsible-header"><i class="mdi-social-whatshot"></i>(M/D)&nbsp;</div>
          <div class="collapsible-body"><p></p></div>
        </li> -->


				<li>
					<div class="collapsible-header"><i class="mdi-action-info-outline"></i>(7/7)&nbsp;注意事項與交通資訊</div>
          <div class="collapsible-body">
						<p>
							<ol>
								<li>
									活動日期：7/11(六) 至 7/17(五)，共七日。
								</li>
								<li>
									首日集合時間：上午 7：40 ~ 8：10 ，<br>
									若無法準時到達者請務必聯絡隊輔或<a href="/contact">其他工作人員</a>。
								</li>
								<li>
									首日集合地點：捷運中正紀念堂站5號出口
									<iframe width="600" height="450" frameborder="0" style="border:0"
									 src="https://www.google.com/maps/embed/v1/place?q=%E5%8F%B0%E7%81%A3%E6%8D%B7%E9%81%8B%E4%B8%AD%E6%AD%A3%E7%B4%80%E5%BF%B5%E5%A0%82%E7%AB%99
									 &key=AIzaSyCSCE_uwywLMDe3Hp4Jd1sltPJ8F1hYnME"></iframe>
								</li>
								<li>
									攜帶物品：水壺、雨具、悠遊卡、一顆快樂的心
								</li>
							</ol>
						</p>
					</div>
				</li>

				<li>
          <div class="collapsible-header"><i class="mdi-action-assignment"></i>(6/21)&nbsp;第二階段錄取名單公佈</div>
          <div class="collapsible-body">
            <p>
              這邊是第二階段的錄取名單~<br>
              恭喜大家錄取我們的暑訓<br>
              請大家參閱我們的報名方式繳費<br>
              另外，<br>
              由於我們報名人數尚未額滿<br>
              所以我們會繼續開放報名哦~<br>
              趕快拉自己的朋友來參加吧！<br>
              --------------------------------<br>
              第2階段正取名單：<br><br>
1 丁*朝 中正國中<br>
2 胡*睿 明德國中<br>
3 徐*涵 明德國中<br>
4 曾*淇 龍門國中<br>
5 張*翊 華興國中<br>
6 黃* 　永平國中<br>
7 涂*安 興雅國中<br>
8 謝*妤 衛理國中<br>
9 施*瑄 大安國中<br>
10 李*諺 麗山國中<br>
11 劉*榛 金華國中<br>
12 吳*榮 頭前國中<br>
13 謝*芳 實踐國中

            </p>
          </div>
        </li>

       <li>
        <div class="collapsible-header"><i class="mdi-social-whatshot"></i>(6/20)&nbsp;課表修改</div>
        <div class="collapsible-body"><p>我們的課程時間有稍做修改哦~~<br>但是日期一樣是7/11~7/17，請大家敬請期待~</p></div>
      </li>

      <li>
          <div class="collapsible-header"><i class="mdi-action-assignment"></i>(6/14)&nbsp;第一階段錄取名單公佈</div>
          <div class="collapsible-body">
            <p>
              萬眾矚目的錄取名單出爐囉！<br>
							這次先公佈的是第一階段25名正取名單，<br>
              還沒上的同學沒關係，<br>
              6/21將會再錄取第二階段的15個名額喔，<br>
              趕快揪團來報名吧！<br>
              --------------------------------<br>
              正取名單：<br><br>
01 俞*方 中山<br>
02 倪*傑 義學國中<br>
03 傅* 新竹縣自強國中<br>
04 吳*叡 蘭州國中<br>
05 吳*哲 台北市立明德國中<br>
06 吳*潔 中正國中<br>
07 姚*均 南門國中<br>
08 施*婷 新興國中<br>
09 杜*瑜 成淵高中國中部<br>
10 林*傑 義學國中<br>
11 梅*帆 興雅國中<br>
12 王*弘 金華國中<br>
13 蔡*澤 中正國中<br>
14 藍*晴 仁愛國中<br>
15 詹*斌 華興中學<br>
16 談*良 濱江國中<br>
17 郭*平 永平高中<br>
18 闕*佑 華興中學<br>
19 陳*蓉 瑠公國中<br>
20 陳*婷 大崗國中<br>
21 陳*蓮 新北市光榮國中<br>
22 陳*蓉 義學國中<br>
23 陳*皓 北安<br>
24 黃*培 敦化國中<br>
25 黃*盛 中正國中

            </p>
          </div>
        </li>

      <li>
          <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>(5/18)&nbsp;報名截止日期修改</div>
          <div class="collapsible-body">
            <p style="color: red">
              由於訓服製作及保險資料，報名截止日期提早到6/20<br>
              造成不便請多多包含
            </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>(5/14)&nbsp;請大家注意報名開放時間</div>
          <div class="collapsible-body">
          	<p>
          	報名開放時間為5/18，請於當日後開始報名<br>
              報名公佈錄取名單分兩階段，詳細請參閱<a href="/note">報名辦法</a><br><br>
              (報名資料絕不外流，請安心填寫表單)
          	</p>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>(5/14)&nbsp;公佈報名方式</div>
          <div class="collapsible-body">
          	<p>
          		由於報名人數問題，本活動將分成兩階段公佈錄取學員名單。<br>
          		1. 本活動會於6/14(日)公佈第1階段錄取名單，請錄取學員於6/20(六)前繳交活動費用至指定帳戶，期限前未繳交者視同放棄。<br>
          		2. 6/21(日)公佈第2階段錄取，第1階段放棄人數將遞補至此次錄取人數，由於活動日期將近，請於6/21~6/27繳交活動費用，為繳交者視同放棄。<br>
          		3. 主辦單位於兩次公佈名單皆會電話通知錄取者，請儘速繳交報名費以利活動流程進行
          	</p>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="mdi-maps-place"></i>(5/10)&nbsp;新增去年活動照片</div>
          <div class="collapsible-body">
          	<p>
          	於<a href=""/picture>活動照片</a>中可看到去年活動的照片<br>
          	當中捕捉了學員們傾心投注於課程之中的表情、充滿活力跳早操的熱情、以及闖關時認真的神情、還有最後的大合照<br>
          	想親自體驗圖中的氣氛嗎？<br>
          	趕快按下<a href="signup">報名</a>按鈕吧！
          	</p>
          </div>
        </li>

        <li>
          <div class="collapsible-header"><i class="mdi-social-whatshot"></i>(5/9)&nbsp;2015楓琴建譜網站上線</div>
          <div class="collapsible-body"><p>2015楓琴建譜活動網站上線了<br>大家敬請期待我們所帶來的暑訓營隊<br>一定要來喔！！！</p></div>
        </li>

    </ul>
  </div>
</div>
{% endblock %}
