{% extends "base.html" %}

{% block content %}
  
  <br><br>
  <div class="container white flow-text">
    <div class="container">
      <br>
      <h2>報名須知與注意事項</h2> 
      <h6>（由於訓服製作及保險資料，報名截止日期提早到6/20）</h6> 
      <br>     
      <ol>
        <li>
          時程：
          <ul class="subject-content">
            <li>第一階段報名期間：5/18 ~ 6/13</li>
            <li>公布第一階段錄取名單：6/14</li>
            <li>第一階段繳費期限：6/20</li>
            <hr>
            <li>第二階段報名期間：6/14 ~ 6/21</li>
            <li>公布第二階段錄取名單：6/21</li>
            <li>第二階段繳費期限：6/27</li>
          </ul>          
        </li><br>
        <li>報名方式：本活動一律採網路報名</li><br>
        <li>
          報名程序：
          <ul>
            <li>   以Facebook帳號進行登入認證</li>
            <li>=> 進入報名頁面填寫報名資料</li>
            <li>=> 若公布的報名結果為正取</li>
            <li>=> 進行匯款繳交報名費用</li>
            <li>=> 接收報名成功之通知</li>
          </ul>
        </li><br>
        <li>報名費用：新台幣1500元整</li><br>
        <li>
          繳費方式：匯款至指定銀行帳戶
          <ul class="subject-content">
            <li>銀行：中華郵政(代號：700)</li>
            <li>帳號：2441561 0088937</li>
            <li>戶名：陳柏儒</li>
          </ul>
        </li><br>
        <li style="color:red">
          注意事項：
          <ul class="subject-content">
            <li>請注意以上的時程中報名期間與繳費期限</li>
            <li>尚未進行Facebook登入認證前，點選下方報名按鈕將開啟認證頁面</li>
            <li>請務必記得完整填寫報名資料表單，以確保報名程序成功進行</li>
          </ul>
        </li>
        <br>
      </ol>
    </div>   
  </div>
  <br>
  <div class="row center">
      <a class="btn" onclick="Materialize.toast('報名已截止囉！', 4000)" class="btn-large waves-effect waves-light-3 brown" style="opacity:1">進入報名頁面</a>
  <br><br><br><br>
  </div>  


{% endblock %}
