{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row s12">
		<h1 class="center brown-text">歷屆照片</h1>
	</div>
  <div class="row">
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old1.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old2.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old3.jpg">
  	</div>
  </div>
  <div class="row">
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old4.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old5.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old6.jpg">
  	</div>
  </div>
  <div class="row">
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old7.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old8.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old9.jpg">
  	</div>
  </div>
  <div class="row">
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old10.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old11.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old12.jpg">
  	</div>
  </div>
  <div class="row">
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old13.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old14.jpg">
  	</div>
  	<div class="col s4 m4">
  		<img class="materialboxed" width=100% src="image/old/old15.jpg">
  	</div>
  </div>
  <br>
</div>
{% endblock %}
