{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<h1 class="center brown-text">教學資料</h1>
		</div>
	</div>
  <div class="row">
  	<div class="col s12">
      <ul class="collection brown-text">
        <p class="collection-item brown-texts"><b>HTML/CSS</b></p>
        <a href="/subject/web_example_a.html" class="collection-item brown-text">Example_a</a>
        <!-- <a href="/subject/web_example_b.html" class="collection-item">Example_b</a> -->
        <a href="/subject/web_example_c.html" class="collection-item brown-text">Example_c</a>
        <!-- <a href="/subject/web_example_d.html" class="collection-item">Example_d</a> -->
      </ul>
      <ul class="collection brown-text">
        <p class="collection-item brown-texts"><b>AI</b></p>
        <a href="/subject/ai_example.png" class="collection-item brown-text">Example_a</a>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
