{% extends "base.html" %}

{% block content %}



<div class="row s12">
	<h2 class="center brown-text">報名資料填寫成功！</h2>
</div>
<div class="container white">		
	<div class="container flow-text">
		<br>
		<ol>
			<li>您的報名資料已經填寫成功，我們將於6/14公布第一階段報名的錄取結果</li>
			<li>
				如果有其他問題：
				<ul class="subject-content">
					<li><a href="/contact">聯絡我們的工作人員</a></li>
					<li><a href="https://www.facebook.com/inforsummer2015" target="_blank">前往我們的粉專提問</a></li>
				</ul>
			</li>
		</ol>
		<br>
	</div>
	<br>
</div>
  


{% endblock %}
